<h4><i class="fa fa-twitter-square"></i>Twitter</h4>

<!-- to use with intents -->
<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>

{% for tweet in tweets %}

    <p class="twitter">{{ tweet.text|twitterfy }}</p>

{% endfor %}